
<div class="header">
	<h1>{{$ctrl.text}}</h1>
</div>
<div class="organizer-holder">
	<div class="contents">
		<div class="organizer-form">
			<p><span>The group will leave on the day of</span><br />
			<input type="date" ng-model="$ctrl.to"><br />
			<span>to meet at the train station in</span></p>
			<div id="mainselection">
				<select name="stations" ng-model="$ctrl.at" class="chosen-select">
					<optgroup>
						  <option value="New Canaan">New Canaan</option>
						  <option value="Stamford">Stamford</option>
						  <option value="New Haven">New Haven</option>
						  <option value="Grand Central">Grand Central</option>
					</optgroup>
				</select><br />
			</div>
			<p>
			<span>with the last person to arrive before</span><br />
			<input type="time" ng-model="$ctrl.time" /><br />
			</p>
		</div>
		<div class="output">
			http://localhost:8888/nhnhack/#/from/{{$ctrl.from}}/to/{{$ctrl.to}}/at/{{$ctrl.at}}<br />
			You're going from <strong>{{$ctrl.from}}</strong> to <strong>{{$ctrl.to}}</strong> at <strong>{{$ctrl.at}}</strong>!
		</div>
	</div>

	<div class="submit-holder">
		<input type="submit" value="Get Us There"/>
	</div>
</div>
<div class="participant-holder">
	<div class="organizer-info">
		<p>
			You've been invited to <span>[station]</span> at <span>[time]</span> on <span>[date]</span>!
		</p>
	</div>
	<div class="location-holder">
		<div class="subheader" style="margin-top:0;">
			<h2>Where Are You Coming From?</h2>
		</div>
		<div class="location-finder">
			<div class="search-holder">
				<input class="partici-search" value="Search"/>
			</div>
			<div class="copy-holder">
				<p>
					- or -
				</p>
			</div>
			<div class="detect-holder">
				<input class="partici-detect" type="button" value="Detect" />
			</div>
		</div>
		<div class="subheader" style="margin-top:0;">
			<h2>We found your train!</h2>
		</div>
		<div class="location-found">
			<p>From <span>[Input Location]</span>, you can take the <span>[time]</span> train departing from the <span>[station]</span> Station.</p>
			<p>
				For your reference, the address of the station is [Address].
			</p>
			<p class="wrong-location">
				<a href="#">Wrong Location</a> <!-- URL minus location string -->
			</p>
		</div>
	</div>
	<div class="train-holder">
		<div class="subheader">
			<h2>Full Train List</h2>
		</div>
		<div class="listings-holder">
			<div class="train-row clearfix">
				<p>
					<span class="train-name">Green's Farm</span>
					<span class="train-time">
						<span class="train-deparr">1:45pm - 2:00pm</span>
						<span class="train-dur">(15 Minutes)</span>
					</span>
				</p>
			</div>
			<div class="train-row clearfix">
				<p>
					<span class="train-name">Green's Farm</span>
					<span class="train-time">
						<span class="train-deparr">[Depart] - [Arrive]</span>
						<span class="train-dur">([Dur] Minutes)</span>
					</span>
				</p>
			</div>
			<div class="train-row clearfix">
				<p>
					<span class="train-name">Green's Farm</span>
					<span class="train-time">
						<span class="train-deparr">[Depart] - [Arrive]</span>
						<span class="train-dur">([Dur] Minutes)</span>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>
