
<div class="header">
	<h1>{{$ctrl.text}}</h1>
</div>
<div class="organizer-holder">
	<div class="contents">
		<div class="organizer-form">
			<p><span>The group will leave on the day of</span><br />
			<input type="date" ng-model="$ctrl.to"><br />
			<span>to meet at the train station in</span></p>
			<div id="mainselection">
				<select name="stations" ng-model="$ctrl.at" class="chosen-select">
					<optgroup>
						  <option value="New Canaan">New Canaan</option>
						  <option value="Stamford">Stamford</option>
						  <option value="New Haven">New Haven</option>
						  <option value="Grand Central">Grand Central</option>
					</optgroup>
				</select><br />
			</div>
			<p>
			<span>with the last person to arrive before</span><br />
			<input type="time" ng-model="$ctrl.time" /><br />
			</p>
		</div>
		<div class="output">
			http://localhost:8888/nhnhack/#/from/{{$ctrl.from}}/to/{{$ctrl.to}}/at/{{$ctrl.at}}<br />
			You're going from <strong>{{$ctrl.from}}</strong> to <strong>{{$ctrl.to}}</strong> at <strong>{{$ctrl.at}}</strong>!
		</div>
	</div>

	<div class="submit-holder">
		<input type="submit" value="Get Us There"/>
	</div>
</div>
<div class="participant-holder">
	You're going to
</div>
