
<div class="header">
	<h1>From Here to There</h1>
	<h2>Simple and sharable trip planning with friends</h2>
</div>
<div class="organizer-holder" ng-show="$ctrl.isOrganizerMode">
	<div class="contents">
		<div class="organizer-copy">
			<ol>
				<li>
					Fill in your trip info and get a sharable link.
				</li>
				<li>
					Friends fill in their location.
				</li>
				<li>
					Get everyone there at the same time.
				</li>
			</ol>
		</div>
		<div class="organizer-form">
			<p><span>What day is your event?</span><br />
			<input type="date" ng-model="$ctrl.at"><br />
			<span>Where are you headed?</span></p>
			<div id="mainselection">
				<select ng-options="item as item.station for item in $ctrl.getListOfStations()" placeholder="select a station" ng-model="$ctrl.chosenStation">
				</select>
				<!--<select name="stations" ng-model="$ctrl.at" class="chosen-select">
					<optgroup>
						  <option value="New Canaan">New Canaan</option>
						  <option value="Stamford">Stamford</option>
						  <option value="New Haven">New Haven</option>
						  <option value="Grand Central">Grand Central</option>
					</optgroup>
				</select><br />-->
			</div>
			<p>
			<span>What time do you want everyone to arrive by?</span><br />
			<input type="time" ng-model="$ctrl.at" step="15" /><br />
			</p>
		</div>
		<div class="output" ng-show="$ctrl.isOrganizerMode">
			<!--http://localhost:8888/nhnhack/#/from/{{$ctrl.from}}/to/{{$ctrl.to}}/at/{{$ctrl.at}}<br />
			You're going from <strong>{{$ctrl.from}}</strong> to <strong>{{$ctrl.to}}</strong> at <strong>{{$ctrl.at}}</strong>!-->
			<p>{{$ctrl.newUrl}}</p><br />
			<!--You're going from <strong>{{$ctrl.from}}</strong> to <strong>{{$ctrl.to}}</strong> at <strong>{{$ctrl.at}}</strong>!-->
		</div>
	</div>

	<div class="submit-holder">
		<a ng-href="{{$ctrl.newUrl}}" target="_blank"><input type="submit" value="Get Us There" /></a>
	</div>
</div>
<div class="participant-holder">
	<div class="organizer-info" ng-hide="$ctrl.isOrganizerMode">
		<p ng-if="$ctrl.chosenStation === undefined">
			You've been invited to <span>{{$ctrl.to}}</span> at <span>{{$ctrl.at | date : 'shortTime'}}</span> on <span>{{$ctrl.at | date}}</span>!
		</p>
		<p ng-if="$ctrl.chosenStation !== undefined">
			You've been invited to <span>{{$ctrl.chosenStation.station}}</span> at <span>{{$ctrl.at | date : 'shortTime'}}</span> on <span>{{$ctrl.at | date}}</span>!
		</p>
		<b ng-show="$ctrl.eventIsOver">
			NOTE: The event that this link was created for has already happened!
		</b>
	</div>
	<div class="location-holder" ng-show="$ctrl.isOriginLookupMode">
		<div class="subheader" style="margin-top:0;">
			<h2>Where Are You Coming From?</h2>
		</div>
		<div class="location-finder">
			<div class="search-holder">
				<form ng-submit="$ctrl.locateViaString()">
					<input class="partici-search" value="Search" ng-model="$ctrl.originSearchString" $ng-disabled="$ctrl.isLoading"/>
				</form>
			</div>
			<div class="copy-holder">
				<p>
					- or -
				</p>
			</div>
			<div class="detect-holder">
				<input class="partici-detect" type="button" value="Detect" ng-hide="$ctrl.isLoading" ng-click="$ctrl.getGpsData()" />
				<input class="partici-detect" type="button" value="..." ng-show="$ctrl.isLoading" ng-disabled="true"/>
			</div>
		</div>
	</div>
	<div class="train-holder" ng-if="$ctrl.formattedResponse">
		<div class="subheader" style="margin-top:0;" ng-if="$ctrl.formattedResponse">
			<h2>We found your train!</h2>
		</div>
		<div class="location-found" ng-hide="$ctrl.formattedResponse === undefined">
			<p>From <span>{{$ctrl.rawData.data.response.result.routes[0].legs[0].start_address}}</span>, you can take the <span>{{$ctrl.rawData.data.response.result.routes[0].legs[0].departure_time.text}}</span> train departing from the <span>{{$ctrl.formattedResponse[0].steps[0].departure_stop.name}}</span> Station.</p>
		</div>
		<div class="subheader">
			<h2>Full Train List</h2>
		</div>
		<!--<route-group ng-model="$ctrl.formattedResponse"></route-group>-->
		<div class="listings-holder">
			<div class="train-row clearfix" ng-repeat="thing in $ctrl.formattedResponse">
				<!--<pre>{{thing | json}}</pre>-->
				<p>
					<span class="train-name">{{thing.steps[0].line.name}}</span>
					<span class="train-time">
						<span class="train-deparr">{{thing.steps[0].departure_time.text}} - {{thing.steps[0].arival_time.text}}</span>
						<span class="train-dur">({{thing.routeDuration}})</span>
					</span>
				</p>
			</div>
			<!--<div class="train-row clearfix">
				<p>
					<span class="train-name">Green's Farm</span>
					<span class="train-time">
						<span class="train-deparr">1:45pm - 2:00pm</span>
						<span class="train-dur">(15 Minutes)</span>
					</span>
				</p>
			</div>
			<div class="train-row clearfix">
				<p>
					<span class="train-name">Green's Farm</span>
					<span class="train-time">
						<span class="train-deparr">[Depart] - [Arrive]</span>
						<span class="train-dur">([Dur] Minutes)</span>
					</span>
				</p>
			</div>
			<div class="train-row clearfix">
				<p>
					<span class="train-name">Green's Farm</span>
					<span class="train-time">
						<span class="train-deparr">[Depart] - [Arrive]</span>
						<span class="train-dur">([Dur] Minutes)</span>
					</span>
				</p>
			</div>-->
		</div>
	</div>
	</div>
</div>
